<a href="https://colab.research.google.com/github/cmason30/colab-practice/blob/master/pandas_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
data = {'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
        'Person':['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
        'Sales': [200,120,340,124,243,350]}

In [0]:
df = pd.DataFrame(data)
df

In [0]:
byComp = df.groupby('Company')

In [0]:
byComp.mean()

In [15]:
byComp.sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [0]:
byComp.std()

In [0]:
byComp.count()

In [18]:
byComp.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000