<a href="https://colab.research.google.com/github/cmason30/colab-practice/blob/master/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [0]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}
arr

In [0]:
pd.Series(data = my_data)

In [0]:
pd.Series(data =my_data, index=labels)

In [0]:
pd.Series(arr, labels)

In [0]:
pd.Series(d)

In [0]:
np.random.seed(101)

In [0]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'], ['W', 'X', 'Y', 'Z'])
df

In [0]:
df[['W', 'Z']]

In [0]:
df['new'] = df['W'] + df['Y']

In [0]:
df

In [0]:
df.drop('new', axis=1, inplace=True)

In [0]:
df

In [0]:
df.drop('E')

In [0]:
df.shape

In [0]:
df.loc['C']
#returns row C as a Series

In [0]:
df.iloc[2]
#returns row C as a Series, however uses the integer (#2) to locate that row

In [0]:
df.loc['B', 'Y']
#Narrows down row and column

In [0]:
df.loc[['A','B'],['W', 'Y']]

In [0]:
booldf = df > 0
booldf
#Returns boolean values for each cell for the argument

In [0]:
df[booldf]
#Returns numbers that didn't pass argument as NaN

In [0]:
df['W']

In [0]:
resultdf = df[df['W']>0]

In [0]:
resultdf['X']

In [0]:
df[df['W']>0]['X']
# Lines 14 and 15 done in one step

In [0]:
boolser = df['W']>0
result = df[boolser]
mycols = ['Y', 'X']
result[mycols]

In [0]:
df[(df['W']>0) | (df['Y']>1)]
# must use & symbol with multiple TRUE/FALSE conditions instead of 'and'
# Also use | instead of 'or'

In [0]:
df[(df['W']>0) & (df['Y']>1)]

In [0]:
df.reset_index()

In [0]:
newind = 'CA NY WY OR CO'.split()
newind
# split command allows me to separate using whitespace instead of commas

In [0]:
df['States'] = newind
df

In [0]:
df.set_index('States')