<a href="https://colab.research.google.com/github/cmason30/colab-practice/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [3]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan] , 'C':[1,2,3]}
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [0]:
df.dropna()

In [0]:
df.dropna(axis=1)
# adding axis=1 makes it so any columns with 'na' are dropped instead of rows (which is the default without axis=1)

In [0]:
df.dropna(thresh=2)
#keeps rows with at least 2 values that aren't 'na' in the row

In [0]:
df.fillna(value='FILL VALUE')

In [0]:
df['A'].fillna(value=df['A'].mean())